.button--tp-0 {
	padding-top: 0;
}
/*
.error-with-desc-text {
	color: #000;
	padding-left: 15px;
	padding-right: 15px;
}*/

.error {
	display: block;
}

.error-with-desc {
	line-height: 1.3;
	padding-top: 15px;
	padding-bottom: 15px;
}

.error-with-desc-bottom {
	padding: 15px 15px 15px;
	color: #000;
}

.error-with-desc-bottom p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5;
}

.error-with-desc-bottom p:last-child {
	margin-bottom: 0;
}

.error--success {
	background-image: none;
	background-color: green;
}

.hidden {
	display: none;
}

.header__nav-link {

}
.header__nav-link--active {
  border-bottom: none;
}

.w-70p {
	width: 70%;
}

.w-80p {
	width: 80%;
}

.w-100p {
	width: 100%;
}

.button--small {
	font-size: 14px;
	height: 2.2em;
	padding-left: 1.3em;
  	padding-right: 1.3em;
  	line-height: 1;
}

.uploaded-image {
	background-color: transparent;
}

.uploaded-image__img {
	background-color: white;
}